@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter/Inter_24pt-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Alumni Sans';
  src: url('src/assets/fonts/Alumni Sans/AlumniSans-Medium.ttf');
}

@font-face {
  font-family: 'Source Sans';
  src: url('src/assets/fonts/Source Sans/SourceSans3-Medium.ttf');
}
