$borderRadii: (
  TINY_MOBILE: 2px,
  TINY: 4px,
  SMALL: 5px,
  INTERMEDIATE_MOBILE: 5.57px,
  INTERMEDIATE: 6px,
  NORMAL: 8.61px,
  EXTRA_NORMAL: 10px,
  MEDIUM: 15px,
  EXTRA_MEDIUM: 20px,
  LARGE: 21.53px,
  EXTRA_LARGE: 30px,
  HUGE: 32px,
  EXTRA_HUGE: 100px,
);
