$colors: (
  PRIMARY_TITLE: #f17900,
  WHITE: #ffffff,
  BLACK: #000000,
  IMAGE_POINT: #96bfff,
  IMAGE_GRADIENT_FIRST: #465ff15e,
  IMAGE_GRADIENT_SECOND: #1b2872,
  CREATE_ACC_TEXT: #0e4a67,
  HAVE_ACC_TEXT: #37677e,
  INPUT_NAME: #207198,
  INPUT_BORDER: #fe904b,
  INPUT_TEXT: #37677e,
  INPUT_ERROR_BORDER: #ee5757,
  INPUT_ERROR_TEXT: #ff0c3e,
  GRADIENT_REGISTER: #fb724c,
  DISABLED_REGISTER_BACKGROUND: #f6f6f6,
  DISABLED_REGISTER_BORDER: #ccd1d2,
  LOADER_BORDER: #7c827c,
  SUCCESS_MESSAGE: #5bab63,
  CALENDAR_BACKGROUND: #f7f8fa,
  ACC_IMAGE_BORDER: #3361ff,
  GREETING_TEXT: #6b7a99,
  EMAIL_TEXT: #adb8cc,
  GO_TO_CALENDAR_POINT: #ff6633,
  GO_TO_CALENDAR_SHADOW: #26334d08,
  LOGOUT_BUTTON_TEXT: #ab7878,
  LOGOUT_BUTTON_BACKGROUND: #f5f5fa,
  LOGOUT_BUTTON_SHADOW: #aaaacc80,
  SITE_DESCRIPTION_TEXT: #1b165799,
  LINKS_BACKGROUND: #00000033,
  HOVER_LINK_BACKGROUND: #e0a449,
  FAVORITES: #de4f4f,
  EVENT_DESCRIPTION_TEXT: #4d5e80,
  FILTER_BORDER: #f5f6f7,
  ADD_EVENT_FIELD_TEXT: #7d8fb3,
  ADD_EVENT_COLOR_ICON: #c3cad9,
  ADD_EVENT_OPTION_TEXT: #71747b,
  ADD_EVENT_OPTION_BACKGROUND: #f8f9fe,
  ADD_EVENT_OPTION_SEPARATOR: #ebedf4,
  ADD_EVENT_DEFAULT_COLOR: #ffcb33,
  ADD_EVENT_SAVE_TEXT: #7878ab,
  SEPARATOR_LINE: #edeff2,
  DELETE_EVENT_ICON: #32343a,
  DELETE_EVENT_ICON_BACKGROUND: #f3f5fc,
);
