$fontSizes: (
  TINY: 8px,
  TINY_MOBILE: 8.35px,
  SMALL: 8.61px,
  NORMAL: 10px,
  NORMAL_MOBILE: 10.44px,
  EXTRA_NORMAL_MOBILE: 11.13px,
  EXTRA_NORMAL: 11.48px,
  MEDIUM: 12px,
  EXTRA_MEDIUM: 13px,
  BIG: 14px,
  BIG_MOBILE: 15.31px,
  EXTRA_BIG: 15.79px,
  LARGE: 16px,
  EXTRA_LARGE: 20px,
  GENEROUS: 22px,
  EXTRA_GENEROUS: 24px,
  SUBSTANTIAL: 25.83px,
  SUBSTANTIAL_MOBILE: 30px,
  HUGE_MOBILE: 25.05px,
  HUGE: 40px,
  EXTRA_HUGE: 55px,
);
