$lineHeights: (
  EXTRA_TINY_MOBILE: 13px,
  TINY_MOBILE: 15.31px,
  TINY: 15.79px,
  SMALL_MOBILE: 16.7px,
  COMPACT_MOBILE: 16.94px,
  COMPACT: 17.22px,
  NORMAL_MOBILE: 18.37px,
  NORMAL: 18.95px,
  REGULAR: 19.36px,
  STANDARD_MOBILE: 19.8px,
  STANDARD: 20px,
  MEDIUM: 22px,
  INTERMEDIATE: 24.2px,
  SEMI_LARGE: 25px,
  LARGE: 25.78px,
  EXTRA_LARGE: 26.4px,
  BIG: 28.13px,
  EXTRA_BIG: 30px,
  HUGE_MOBILE: 31.48px,
  HUGE: 32.47px,
  EXTRA_HUGE_MOBILE: 36px,
  EXTRA_HUGE: 40px,
  EXTRAORDINARY: 46.66px,
  EXTRA_EXTRAORDINARY: 46.88px,
  GIANT: 48px,
  EXTRA_GIANT: 66px,
);
