@import '@scss/common/variables/borderRadii';
@import '@scss/common/variables/fontSizes';
@import '@scss/common/extends';

.container {
  @extend %authContainer;
  border-radius: map-get($borderRadii, EXTRA_MEDIUM);
  padding-left: 6.3vw;
  padding-top: 14vh;
}

.brand-title {
  @extend %brandTitle;
  font-size: map-get($fontSizes, EXTRA_HUGE);
  padding-left: 10px;
}
