@import '@scss/common/variables/colors';
@import '@scss/common/variables/fontWeights';
@import '@scss/common/variables/borderRadii';
@import '@scss/common/variables/fontSizes';
@import '@scss/common/extends';

.container {
  @extend %authContainer;
  border-radius: map-get($borderRadii, EXTRA_MEDIUM);
  padding-left: 6.3vw;
  padding-top: 14vh;
}

.brand-title {
  font-family: 'AlumniSansMediumItalic';
  font-weight: map-get($fontWeights, MEDIUM);
  font-size: map-get($fontSizes, EXTRA_HUGE);
  color: map-get($colors, PRIMARY_TITLE);
  padding-left: 10px;
}
